Node-RED Dashboard.json
[{"id":"ad3c7ed1ff0b9738","type":"tab","label":"MANUF II","disabled":false,"info":"","env":[]},{"id":"ac04810c43e0fcae","type":"comment","z":"ad3c7ed1ff0b9738","name":"UPDATE PROGRESS","info":"bikin db dengan column product id, product type, \ntimestamp, current_station, completion%\nnama: progress.db\n\nmake sure dia kirim data \nbukan untuk replace tapi untuk update\n\n\nPercentage:\nQR Scan and Material Handling - 15%\nStorage out - 25%\nStation 1 - 50%\nStation 2 - 75%\nQuality Control - 85%\nStorage in - 100%\n\n\nmessage:\n'{\n\"update_id\": \"19292929\",\n\"id_product_type\": \"Product X\",\n\"progress\": \"Material Handling Station\",\n\"percentage\": \"15%\"\n}'","x":180,"y":120,"wires":[]},{"id":"76581de7b1b8500b","type":"ui_template","z":"ad3c7ed1ff0b9738","group":"0730d0b8ed8b77f0","name":"PROGRESS TABLE","order":1,"width":"10","height":"21","format":"<style>\n    td {\n        padding: 10px;\n    }\n    table{\n\n        width: 100%;\n    }\n</style>\n<h3>PROGRESS LOG</h3>\n<table border=1>\n    <tr style=\"background-color: #097479\">\n        <th>Timestamp</th>\n        <th>ID</th>\n        <th>Product_type</th>\n        <th>Current_Station</th>\n        <th>Progress</th>\n    </tr>\n    <tr ng-repeat=\"x in msg.payload\">\n<td>{{x.Timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</td>\n        <td>{{x.ID}}</td>\n        <td>{{x.Product_type}}</td>\n        <td>{{x.Current_station}}</td>\n        <td>{{x.Progress}}</td>\n\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":820,"y":280,"wires":[[]]},{"id":"8a1870f441cbfe36","type":"inject","z":"ad3c7ed1ff0b9738","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":280,"wires":[["2a1f82132fb555fd"]]},{"id":"2a1f82132fb555fd","type":"function","z":"ad3c7ed1ff0b9738","name":"function 4","func":"msg.topic = \"select * from progress\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":280,"wires":[["fd5ef224bc1154f6"]]},{"id":"bde6ec9a271efbf1","type":"comment","z":"ad3c7ed1ff0b9738","name":"INVENTORY","info":"database:\n{Component: Component, Amount: Amount}\nname: Inventory","x":150,"y":600,"wires":[]},{"id":"145a98cfa1afd43b","type":"comment","z":"ad3c7ed1ff0b9738","name":"STORAGE IN","info":"buat db nama: storage\ncolumn Product type, Current_inventory\n\ntopic storage_in = +1\ntopic storage_ouot = -1\n\nmsg =\n{\n\"Product_type\":\"Product_x\",\n\"Amount\": \"100\"\n}\n\nupdate db\n","x":150,"y":400,"wires":[]},{"id":"de51de157de2d6d9","type":"comment","z":"ad3c7ed1ff0b9738","name":"ORDER","info":"{\n\"id_order\":\"123456\",\n\"Product_type_order\": \"sdfasdfa\"\n\"timestamp\": \"\"\n}\n\nbuat db dengan column ID, Product_type, timestamp\nnama: order.db","x":140,"y":960,"wires":[]},{"id":"a89c25ef6c30dd44","type":"ui_template","z":"ad3c7ed1ff0b9738","group":"df62d6af5fb72139","name":"STORAGE TABLE","order":0,"width":"6","height":"15","format":"<style>\n    td {\n        padding: 20px;\n    }\n        table{\n        \n        width: 150%;\n        }\n</style>\n<h3>STORAGE TABLE</h3>\n<table border=1>\n    <tr style=\"background-color: #097479\">\n        <th>Product_type</th>\n        <th>Amount</th>\n    </tr>\n    <tr ng-repeat=\"x in msg.payload\">\n        <td>{{x.Product_type}}</td>\n        <td>{{x.Amount}}</td>\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":850,"y":520,"wires":[[]]},{"id":"b1df7b704e744d1b","type":"inject","z":"ad3c7ed1ff0b9738","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":520,"wires":[["93c36c5f2c1b7d0e"]]},{"id":"93c36c5f2c1b7d0e","type":"function","z":"ad3c7ed1ff0b9738","name":"function 6","func":"msg.topic = \"select * from storage\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":520,"wires":[["156f9422ca052a35"]]},{"id":"73407183a4e1aaeb","type":"ui_template","z":"ad3c7ed1ff0b9738","group":"0642d704ec4b65cf","name":"PARTS INVENTORY TABLE","order":0,"width":"6","height":"11","format":"<style>\n    td {\n    padding: 10px;\n    }\n    table{\n    \n    width: 200%;\n    }\n</style>\n<h3>PARTS INVENTORY TABLE</h3>\n<table border=1>\n    <tr style=\"background-color: #097479\">\n        <th>Bolt</th>\n        <th>Nut Silver</th>\n        <th>Nut Black</th>\n        <th>Washer Silver</th>\n        <th>Washer Black</th>\n    </tr>\n    <tr ng-repeat=\"x in msg.payload\">\n        <td>{{x.Bolt}}</td>\n        <td>{{x.Nut Silver}}</td>\n        <td>{{x.Nut Black}}</td>\n        <td>{{x.Washer Silver}}</td>\n        <td>{{x.Washer Black}}</td>\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":860,"y":660,"wires":[[]]},{"id":"ef2e921fad5adf08","type":"function","z":"ad3c7ed1ff0b9738","name":"function 7","func":"msg.topic = \"select * from inventory\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":660,"wires":[["b3962a59a37a9f05","87d89fd3bd7fd93e"]]},{"id":"e003c25f502b6876","type":"inject","z":"ad3c7ed1ff0b9738","name":"EXAMPLE","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"update_id\": \"19292929\", \"id_product_type\": \"Product X\", \"progress\": \"Material Handling Station\", \"percentage\": \"15%\" }","payloadType":"str","x":160,"y":180,"wires":[[]]},{"id":"0ed2118ad6105a35","type":"debug","z":"ad3c7ed1ff0b9738","name":"debug 70","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1080,"y":220,"wires":[]},{"id":"2ac78309a5b81f5d","type":"function","z":"ad3c7ed1ff0b9738","name":"ARRAY TO DATABASE","func":"\nmsg.topic = \"INSERT INTO progress (`ID`, `Product_type`,`Progress`,`Current_station`,`Timestamp`) VALUES (:update_id, :id_product_type, :percentage, :progress, :timestamp ) ON DUPLICATE KEY UPDATE `Progress`=:percentage,`Current_station`=:progress,`Timestamp`=:timestamp ;\"\nreturn msg;\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":220,"wires":[["a4592f843d9f5071","9a828b4b6e891b4f"]]},{"id":"a4592f843d9f5071","type":"debug","z":"ad3c7ed1ff0b9738","name":"debug 72","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":160,"wires":[]},{"id":"1740a043d661dd30","type":"mqtt in","z":"ad3c7ed1ff0b9738","name":"topic: progress","topic":"progress","qos":"2","datatype":"auto-detect","broker":"4fc77c00bfb3d335","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":220,"wires":[["2ac78309a5b81f5d"]]},{"id":"9a828b4b6e891b4f","type":"mysql","z":"ad3c7ed1ff0b9738","mydb":"653841f354b495fd","name":"progress","x":900,"y":220,"wires":[["0ed2118ad6105a35"]]},{"id":"07e3cbdf1c76eb7f","type":"debug","z":"ad3c7ed1ff0b9738","name":"debug 73","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":460,"wires":[]},{"id":"1dd94cd2e19c85d0","type":"function","z":"ad3c7ed1ff0b9738","name":"ARRAY TO DATABASE","func":"\nmsg.topic = \"INSERT INTO storage (`Product_type`, `Amount`) VALUES (:Product_type, :Amount) ON DUPLICATE KEY UPDATE `Amount`=:Amount;\"\nreturn msg;\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":460,"wires":[["550c0b571367e032"]]},{"id":"715e4c41f5ebbb6c","type":"mqtt in","z":"ad3c7ed1ff0b9738","name":"topic: storage/amount","topic":"storage/amount","qos":"2","datatype":"auto-detect","broker":"4fc77c00bfb3d335","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":460,"wires":[["1dd94cd2e19c85d0"]]},{"id":"550c0b571367e032","type":"mysql","z":"ad3c7ed1ff0b9738","mydb":"653841f354b495fd","name":"STORAGE","x":770,"y":460,"wires":[["07e3cbdf1c76eb7f"]]},{"id":"bb468057d5e0bb76","type":"function","z":"ad3c7ed1ff0b9738","name":"ARRAY TO DATABASE","func":"msg.payload = [msg.payload]\n\n\nmsg.topic = \"INSERT INTO inventory (`Bolt`) VALUES (?);\"\nreturn msg;\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":700,"wires":[["b4e44fea15d227d2"]]},{"id":"f9f79b659ba3d053","type":"inject","z":"ad3c7ed1ff0b9738","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":660,"wires":[["ef2e921fad5adf08"]]},{"id":"0c54fcfa1ebddec3","type":"mqtt in","z":"ad3c7ed1ff0b9738","name":"topic: Bolt","topic":"Bolt","qos":"2","datatype":"auto-detect","broker":"4fc77c00bfb3d335","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":700,"wires":[["bb468057d5e0bb76"]]},{"id":"e3f171fa7d90c190","type":"mqtt in","z":"ad3c7ed1ff0b9738","name":"topic: Nut silver","topic":"Nut silver","qos":"2","datatype":"auto-detect","broker":"4fc77c00bfb3d335","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":740,"wires":[["6336e42d0a88a472"]]},{"id":"2198d80368e09532","type":"mqtt in","z":"ad3c7ed1ff0b9738","name":"topic: Nut black","topic":"Nut black","qos":"2","datatype":"auto-detect","broker":"4fc77c00bfb3d335","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":780,"wires":[["8e5044ebd77658d0"]]},{"id":"93ed66892f89adc8","type":"mqtt in","z":"ad3c7ed1ff0b9738","name":"topic: Washer silver","topic":"Washer silver","qos":"2","datatype":"auto-detect","broker":"4fc77c00bfb3d335","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":820,"wires":[["95ee9e23e20fd225"]]},{"id":"5855ec2cb2fd37e8","type":"mqtt in","z":"ad3c7ed1ff0b9738","name":"topic: Washer black","topic":"Washer black","qos":"2","datatype":"auto-detect","broker":"4fc77c00bfb3d335","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":860,"wires":[["e23e0215f69958a6"]]},{"id":"b4e44fea15d227d2","type":"mysql","z":"ad3c7ed1ff0b9738","mydb":"653841f354b495fd","name":"INVENTORY","x":630,"y":700,"wires":[[]]},{"id":"e09485d9539fbc5c","type":"mysql","z":"ad3c7ed1ff0b9738","mydb":"653841f354b495fd","name":"INVENTORY","x":610,"y":740,"wires":[[]]},{"id":"b2b0fe4b34bbca0a","type":"mysql","z":"ad3c7ed1ff0b9738","mydb":"653841f354b495fd","name":"INVENTORY","x":630,"y":780,"wires":[[]]},{"id":"b3ea1177fefe1e0f","type":"mysql","z":"ad3c7ed1ff0b9738","mydb":"653841f354b495fd","name":"INVENTORY","x":670,"y":820,"wires":[[]]},{"id":"9149521faabf4178","type":"mysql","z":"ad3c7ed1ff0b9738","mydb":"653841f354b495fd","name":"INVENTORY","x":650,"y":860,"wires":[[]]},{"id":"fa616f27efce8d71","type":"function","z":"ad3c7ed1ff0b9738","name":"ARRAY TO DATABASE","func":"\nmsg.topic = \"INSERT INTO order_table(`ID`, `Product_type`,`Timestamp`) VALUES (:id_order, :product_type_order, :timestamp );\"\nreturn msg;\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1020,"wires":[["40c6b84c172a6f87"]]},{"id":"9f4d2b57d9cb25d8","type":"ui_template","z":"ad3c7ed1ff0b9738","group":"8c2a074bb80b765c","name":"ORDER TABLE","order":0,"width":"6","height":"14","format":"<style>\n    td {\n        padding: 10px;\n    }\n    table{\n\n        width: 100%;\n    }\n</style>\n<h3>ORDER TABLE</h3>\n<table border=1>\n    <tr style=\"background-color: #097479\">\n        <th>Timestamp</th>\n        <th>ID</th>\n        <th>Product_type</th>\n    </tr>\n    <tr ng-repeat=\"x in msg.payload\">\n        <td>{{x.Timestamp}}</td>\n        <td>{{x.ID}}</td>\n        <td>{{x.Product_type}}</td>\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":820,"y":1080,"wires":[["16aa5c61bae49c85"]]},{"id":"fbbac9e0f8b6c5ca","type":"inject","z":"ad3c7ed1ff0b9738","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":1080,"wires":[["22d662dbcac624f1"]]},{"id":"22d662dbcac624f1","type":"function","z":"ad3c7ed1ff0b9738","name":"function 5","func":"msg.topic = \"select * from order_table\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1080,"wires":[["2185085f3aa216a0"]]},{"id":"f743dabc0e485b22","type":"debug","z":"ad3c7ed1ff0b9738","name":"debug 78","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1000,"y":1020,"wires":[]},{"id":"6609133ecd310d4b","type":"debug","z":"ad3c7ed1ff0b9738","name":"debug 79","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":440,"y":940,"wires":[]},{"id":"625b1e9a332667eb","type":"mqtt in","z":"ad3c7ed1ff0b9738","name":"topic: order_json","topic":"order_json","qos":"2","datatype":"auto-detect","broker":"4fc77c00bfb3d335","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":1020,"wires":[["6609133ecd310d4b","fa616f27efce8d71"]]},{"id":"40c6b84c172a6f87","type":"mysql","z":"ad3c7ed1ff0b9738","mydb":"653841f354b495fd","name":"ORDER","x":800,"y":1020,"wires":[["f743dabc0e485b22"]]},{"id":"fd5ef224bc1154f6","type":"mysql","z":"ad3c7ed1ff0b9738","mydb":"653841f354b495fd","name":"progress","x":580,"y":280,"wires":[["76581de7b1b8500b"]]},{"id":"156f9422ca052a35","type":"mysql","z":"ad3c7ed1ff0b9738","mydb":"653841f354b495fd","name":"STORAGE","x":630,"y":520,"wires":[["a89c25ef6c30dd44"]]},{"id":"b3962a59a37a9f05","type":"mysql","z":"ad3c7ed1ff0b9738","mydb":"653841f354b495fd","name":"INVENTORY","x":590,"y":660,"wires":[["73407183a4e1aaeb"]]},{"id":"47687278504f2cd5","type":"inject","z":"ad3c7ed1ff0b9738","name":"EXAMPLE2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Component\": \"Bolt\", \"Amount\": \"15\"}","payloadType":"json","x":350,"y":400,"wires":[[]]},{"id":"87d89fd3bd7fd93e","type":"debug","z":"ad3c7ed1ff0b9738","name":"debug 81","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":600,"wires":[]},{"id":"6336e42d0a88a472","type":"function","z":"ad3c7ed1ff0b9738","name":"ARRAY TO DATABASE","func":"msg.payload = [msg.payload]\n\nmsg.topic = \"INSERT INTO inventory (`Nut silver`) VALUES (?);\"\nreturn msg;\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":740,"wires":[["e09485d9539fbc5c"]]},{"id":"8e5044ebd77658d0","type":"function","z":"ad3c7ed1ff0b9738","name":"ARRAY TO DATABASE","func":"msg.payload = [msg.payload]\n\nmsg.topic = \"INSERT INTO inventory (`Nut black`) VALUES (?);\"\nreturn msg;\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":780,"wires":[["b2b0fe4b34bbca0a"]]},{"id":"95ee9e23e20fd225","type":"function","z":"ad3c7ed1ff0b9738","name":"ARRAY TO DATABASE","func":"msg.payload = [msg.payload]\n\nmsg.topic = \"INSERT INTO inventory (`Washer silver`) VALUES (?);\"\nreturn msg;\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":820,"wires":[["b3ea1177fefe1e0f"]]},{"id":"e23e0215f69958a6","type":"function","z":"ad3c7ed1ff0b9738","name":"ARRAY TO DATABASE","func":"msg.payload = [msg.payload]\n\nmsg.topic = \"INSERT INTO inventory (`Washer black`) VALUES (?);\"\nreturn msg;\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":860,"wires":[["9149521faabf4178"]]},{"id":"2185085f3aa216a0","type":"mysql","z":"ad3c7ed1ff0b9738","mydb":"653841f354b495fd","name":"ORDER","x":620,"y":1080,"wires":[["9f4d2b57d9cb25d8"]]},{"id":"16aa5c61bae49c85","type":"debug","z":"ad3c7ed1ff0b9738","name":"debug 82","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":1080,"wires":[]},{"id":"0730d0b8ed8b77f0","type":"ui_group","name":"PROGRESS","tab":"0a2419a6cfceb8f1","order":4,"disp":true,"width":"10","collapse":false,"className":""},{"id":"df62d6af5fb72139","type":"ui_group","name":"STORAGE","tab":"0a2419a6cfceb8f1","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"0642d704ec4b65cf","type":"ui_group","name":"PARTS INVENTORY","tab":"0a2419a6cfceb8f1","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4fc77c00bfb3d335","type":"mqtt-broker","name":"","broker":"192.168.132.190","port":"1889","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"653841f354b495fd","type":"MySQLdatabase","name":"Proyek_MANUF2","host":"127.0.0.1","port":"3306","db":"proyek_manuf2","tz":"","charset":"UTF8"},{"id":"8c2a074bb80b765c","type":"ui_group","name":"ORDERS","tab":"0a2419a6cfceb8f1","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"0a2419a6cfceb8f1","type":"ui_tab","name":"PROYEK_MANUF","icon":"dashboard","disabled":false,"hidden":false}]